*{
    padding:0px;
    margin:0px;
}

.outer{
    width:100px;
    height:100px;
    margin:0px auto;
}
.logo img{
    width:250px;
    height:400px;
    margin:0px auto;
}
.outer h1{
    text-align:center;
}
p{
    font-size:20px
}
.border{
    window:100%;
    padding:5px;
    background-color:rgb(147, 235, 121);
    border:1px solid rgb(207, 52, 52);
}
ul{
    font-size:20px;
    margin-left:50px;
}
h2{
    float:right;
}
